/*FROM INDEX.CSS ***BETTER IMPLEMENTATION IN THE FUTURE*** */
html{
    height:100%;
   width: 100%;
   
}
body{
   margin:0;

}
.container
{ 
   font-family: Georgia, serif;
   font-feature-settings: 'kern';
   font-kerning: normal;
   color: #444444;
}

button{
    padding: 15px 32px;
    border-radius: 3px;
    font-weight:bold;
    border: none;

} 
button:hover{
    box-shadow: 0 0 3px 1px rgba(215, 215, 215, 0.6);
    cursor: pointer;
}
h1{
    font-size: 35px;
    margin:0;
}


        /* header */
header{
    display: flex;
    text-align: center;
    width:100%; /* must include with position fixed*/
    position: fixed;
    z-index:500;


    background-color: white;
    justify-content: space-between;
    border-bottom: 1px  solid rgb(231, 231, 231);
    padding-top: 20px;
    padding-bottom: 23px; /* covers little gap when scrolling, in nav padding top too*/
    margin-bottom: 25px;
}
#subscribe{
    background-color: #88bae9;
    color: white;
    margin-right: 8px;
}
#latest_article{
    background-color: #f0f0f0;
}
#donate{
    background-color: #88bae9;
    color: white;
    margin-right: 8px;

}
.header_left{
    margin-left: 20px;
    margin-top: 25px;
}
.header_title{
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 600;
    
}
.header_title a{
    text-decoration: none;
    color: #444444;


}
.header_right{
    margin-top: 25px;
    margin-right: 20px;

}

#header_pages{ /* about & contact us */
    padding-right: 4px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
.header_links{
    text-decoration: none;
    font-size: 15px;
    color: #2c2c2c;


}
.header_links:hover{
    border-bottom: solid 2px black;
    padding-bottom: 3px;
}


        /* nav bar */
nav{
    display: flex;
    width:100%;
    position: fixed;
    z-index:500;


    margin-top:128px;
    justify-content: space-around;
    padding-top: 22px;
    padding-bottom:20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    font-feature-settings: 'kern';
    font-kerning: normal;
    background-color: white;
    


}
.bottom_nav_line{
    border-bottom: 1px  solid rgb(231, 231, 231);
    top:192px;
    width:100%;
    position:fixed;
    z-index:500;

    /* **TODO** add feature for when scrolling box-shadow: 0 0 3px 1px rgba(215, 215, 215, 0.6); */

}

.nav-links{
    text-decoration: none;
    padding-bottom: 3px;
    color: #525252;
    letter-spacing: 2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;



}
.nav-links:hover{
    border-bottom: solid 2px black;
}
/*FROM INDEX.CSS ***BETTER IMPLEMENTATION IN THE FUTURE*** */


