html,body{
   height:100%;
   width: 100%;
   margin:0;
   padding:0;
   font-family: 'Raleway', sans-serif;
   
}
*{
    box-sizing: border-box;
}
.page-container {
    position: relative;
    min-height: 100vh;
  }
.content-wrap {
    padding-bottom: 2.5rem;    /* Footer height + some extra */
}
.container{

    margin-left: 5%;
    margin-right: 5%;
}
.container-about{
    margin-left:0;
    margin-right:0;
}
.d-flex{
    display: flex;
}
.flex-dir-col{
    flex-direction: column;
}
li{
    list-style-type:none;
}
a{
    text-decoration: none;
    color:rgb(0, 0, 0);


}
.links:hover span{
    /* spanning the words in the link make the underline not effect the logo and size of margin*/
    border-bottom: solid 2px #b16969;

}
h1{
    color:rgb(48, 48, 48);
    margin-bottom: 1rem;
    letter-spacing: 1px;
    }

.light-black{
    color:rgb(66, 66, 66);

}
.no-letter-space{
    letter-spacing: 0;

}
.donate-center{
    margin-top: 3%;
}
.center{
    justify-content: center;
    align-content: center;
}
.center-page{
    margin-top: auto;
    margin-bottom: auto;
}
.text-center{
    text-align: center;
}
.no-wrap{
    overflow-y:scroll; 

}
.padding-bottom-increase{
    padding-bottom: 1rem;
}
.margin-top-increase{
    margin-top: 1.5rem;
}
.no-margin{
    margin:0;
}
.col1{
    grid-template-columns: 1fr;
}
/* HEADER */

header{
    background-color: #c450418a;
    padding-top: .2rem;
    padding-bottom: .2rem;
    border-bottom: 1px  solid rgb(212, 212, 212);

}
.header-content{
    justify-content: space-between;
}

.header-right>li{
    list-style: none;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: .85rem;
    color:white;
    font-weight: bold;
    line-height: 1.1rem;
    text-align: center;


}
.header-right>li>a {
    color:white;
}
.white-links:hover span {
    border-bottom: solid 2px white;
    padding-bottom: 2px;
}

.logo>a{
    color:white;

}

.logo{
    text-transform: uppercase;
    letter-spacing: .08rem;
    font-weight:600;
    /* text-shadow: 1px 0px 1px rgb(187, 187, 187); */
    /* text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255); */
    /* perfectly centered in the header*/
    margin-top:auto;
    margin-bottom: auto;
}

.donate>span{
    color: black;
    text-decoration: none;
    background-color: white;
    padding: .35rem .35rem .35rem .35rem;
    border-radius: .2rem;
    border: 1px solid rgb(238, 238, 238);
    font-weight: normal;

}
.donate>span:hover {
    box-shadow: 0 0 3px 2px rgba(235, 234, 234, 0.6);

}

.donate-label{
    text-decoration: underline solid 1px #ac5252;
    margin-top: 1rem;
    
}


.donate-right-col{
    justify-content:right;
    margin-top:1.5rem;
    flex-shrink: 1;
    text-decoration-color: white;
}
.donate-img{
    max-width: 80%;
}

.wrap{
    overflow-wrap: anywhere;
}
/* NAV BAR*/
nav{
    background-color: #fdfdfc;
    border-bottom: 1px  solid rgb(212, 212, 212);
    box-shadow: 0 4px 2px -2px rgb(223, 222, 222); /* bottom box shadow= 4th value -*/
}
.nav-bar{
    width:100%;
    justify-content: space-around;
    font-weight: 500;
    padding-left: 3%;
    text-align: center;
}
.nav-bar>li>a>span{
    text-align: center;
    color: #000000;
    letter-spacing: .1rem;
    text-transform: uppercase;
    line-height: 1rem;
    font-size:.7rem;
}

.nav-bar>li{
    list-style: none;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: .8rem;
    font-family: 'Roboto Condensed''Fira Sans Extra Condensed', sans-serif;
    letter-spacing: .01rem;
}
/* ARTICLES*/
.grid{
    display:grid;
}
.col1-col2-col1{
    grid-template-columns: 1fr 2fr 1fr;
}
.col1point2-col1{
    grid-template-columns: 1.2fr 1fr;
}
.col1-col2{
    grid-template-columns: 1fr 2fr;
}
.col1-col1{
    grid-template-columns: 1fr 1fr;
}
img {
    max-width: 100%; 
    max-height: 100%;
    object-fit: cover;
}
img:hover{
    box-shadow: 0 0 3px 4px rgba(215, 215, 215, 0.6);
 }
 .no-box-shadow:hover{
    box-shadow: none;

 }

.article-margin{
    margin: 1rem 1rem 1rem 1rem;
}
  
.article-title{
    color: #000000;
    font-weight: 500;
    font-size:.85rem;
    text-align:center;
    letter-spacing: .07rem;
    padding-bottom: .4rem;

}
.article-title>span{
    border-bottom: solid 1px #b16969;
    padding-bottom: 2px;
    color:rgb(0, 0, 0);

}

.article-title>span:hover{
    border-bottom: solid 2px #b16969
}
.article-catagory{
    font-family: sans-serif;
    text-transform: uppercase;
    position: relative;
    bottom:1rem;
    text-align: center;
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
}
.article-catagory>span{
    color:rgb(59, 59, 59);
    padding: .3rem 1rem 0rem 1rem;
    border-radius: .1rem;
    background-color: white;


}
.article-description{
    line-height: 1.5rem;
    text-align: justify;
    font-size: 1rem;
}

.article-one>a>picture>img{
    opacity:.8;
}
/* FOOTER*/
footer{
    /* page wrapper necessary */
    position: absolute;
    bottom:0;
    display:flex;
    width:100%;
    text-align: center;
    justify-content: center;
    background-color: #bd6c61;
    /* height:3rem; */
    border-top: 1px  solid rgb(231, 231, 231);
    z-index: 1;

}
footer, footer>a, footer>p>a{
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-size: .8rem;
    align-self: center;
    letter-spacing: 1px;
}
footer>p{
    margin-left:.25rem;
}

/* ABOUT PAGE */


.about-content{
    
    margin: 0rem 0rem 0rem 0rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
}
.about-description{
    line-height: 1.5rem;
    color: white;
    font-size: 1.3rem;
    background-color: #5a171757;
    padding: 2rem 1rem;

}
.about-left-col{
    width:100%;
    margin: 3rem 0 1rem 0;
}
.about-title{
    color:white;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15), 1px -1px 0 rgb(0, 0, 0, 0.15), -1px 1px 0 rgba(0, 0, 0, 0.15), 1px 1px 0 rgba(0, 0, 0, 0.15);
    font-size:2rem;
    margin: 1rem 3% 2rem 3%;
}
.about-divider{
    padding-bottom: 0;
    margin-bottom: 0rem;
}
.content-background{
    margin-top:0;
    margin-bottom: 1.2rem;
    padding-right: 1rem;
    padding-left:1rem;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, 0.014);
}
.background-img > .about-description {
    margin-left: 3%;
    margin-right: 3%;
    color: white;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    margin-bottom: 2.5rem;
}
.no-opacity{
    opacity:1;
}
/* CONTACT PAGE*/

.contact-title>p, .contact-title>h1{
    margin:0;
    padding:0;
    text-align: center;
    font-weight: bold;
    color:white;
    
}
.contact-title{
    margin-bottom: 2rem;

}
.contact-background{
    background-color: #5a171757;
    padding: 2rem 0 2rem 0;
    margin: 0 3rem 0 3rem;
}
.contact-title>h1{
    margin: 1rem 0 .3rem 0;
}
.contact-title>p{
    margin-bottom: .1rem;
    font-size: .8rem;
    color: rgba(255, 255, 255, 0.952);

}
.contact-content{
    justify-content: center;
    color:white;

}

.spacing{
    margin-bottom: 2rem;
}
.divider{
    position: relative;
    left: 40%;
    border-bottom: 2px solid white;
    width: 20%;
    justify-self: center;
    border-radius: 5px;
}
.form-group{
    margin-top: 1rem;
}
.control-label{
    margin-right: 1rem;
    text-align: right;
    display: inline-block;
    text-decoration: underline 2px #b87e7e;
    color: white;
    font-weight: bold;
}
.col-sm{
    width:25%;
}
.col-lg{
    display: inline-block;
    width:50%;
}
.form-control{
    width:100%;
}
.input-message{
    position: relative;
    /*bottom: 85%;  does not work with percent*/
}
.btn-primary{
    
    text-align: center;
    padding: .5rem .5rem;
    background-color: #54586b;
    color: white;
    border:1px solid rgb(212, 212, 212);
    border-radius: 4px;
}
input, textarea{
    border-radius: 4px;
    border:1px solid rgb(212, 212, 212);
}
.submit-btn{
    /* centers button*/
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.captcha{
    margin-top:1rem;
}
.btn-primary:hover{
    box-shadow: 0 0 3px 4px rgba(215, 215, 215, 0.6);
    cursor: pointer;

}

.invalidEmail, .emptyMessage{
    box-shadow: 0 0 3px 4px rgba(221, 34, 34, 0.6);

}

.background-img>.divider{
    box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15), 1px -1px 0 rgb(0, 0, 0, 0.15), -1px 1px 0 rgba(0, 0, 0, 0.15), 1px 1px 0 rgba(0, 0, 0, 0.15);
    border-bottom:solid 3px white;
}
.background-img{
    padding-top: 8rem;
    padding-bottom: 12rem;
    background-image: url("images/puti-crop.jpg");
    background-size: cover;
    opacity:.8;
    background-position: 50%;
}
.background-img> .donate-title{
    margin-left: 3%;
    margin-right: 3%;
    color: white;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15), 1px -1px 0 rgb(0, 0, 0, 0.15), -1px 1px 0 rgba(0, 0, 0, 0.15), 1px 1px 0 rgba(0, 0, 0, 0.15);
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

/* coming soon page */


.coming-soon-img:hover{
    box-shadow: none;

}
.coming-soon-img{
    width: 15%;
}
.redish-color-divider{
    border-bottom: 2px solid#ac5252;
    width: 20%;
    justify-self: center;
    align-self: center;
}
.coming-soon-content{
    position: inherit;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2%;
    
}
.coming-soon-background{
    /* background-image: url(website/carolinabays-texas.jpg); */
    
}
.coming-soon-text>h1{
    margin-top: 0rem;
}
.center-mammoth{
    position: relative;
    left:23%;
}
.center-cs-bottom-divider{
    padding-top: 1rem;
    margin-left:40%;
}
.divider-width{
    width:35%;
}
.primary-color{
    background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 64%,#fefefe 100%);
}

/* RESPONSIVE */

@media(max-width:500px){ 
/* if device is smaller than 500 px */
    .col1-col2{
        grid-template-columns: 1fr;
    }
    .col1point2-col1{
        grid-template-columns: 1fr;
    }
    /*specifically for ABOUT PAGE*/
    .about-content{
        margin: 0 0 0 0;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .about{
        display:flex;
        flex-direction: column-reverse;
    }
    .about-left-col{
        width:100%;
        margin:1.5rem 0 0 0;
    }
    .no-mobile{
        display: none;
    }
    .header{
        width: auto;
    }
    /* HEADER FIXING*/
    .header-right > li {
        list-style: none;
        margin-right: .4rem;
        margin-left: .4rem;
        font-size: .7rem;
        text-align: center;
    }
    .header-right{
        padding-left:0;
    }
    li{
        
        line-height: 1.1rem;
        margin-left:1rem;
        font-size:.7rem;

    }
    /*NAV FIXING*/
    .nav-bar {
        width: 100%;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .nav-bar > li {
        text-align: center;
        list-style: none;
        font-size: .7rem;
        margin-bottom: .4rem;

    }
    
   
    .col1-col1{
        grid-template-columns: 1fr;
    }
    .donate-label{
        text-align: left;
        margin: .5rem .5rem .2rem;
        font-size: .8rem;
        letter-spacing: 0;
    }
    
    .donate-addrs>li{
        letter-spacing: 1px;

    }
    .content-background {
        border-radius: 0rem;
        padding: .5rem 0 1.5rem 0;
        box-shadow: 0 8px 8px -2px rgb(223, 222, 222); /* bottom box shadow= 4th value -*/

    }
    section .container{
        margin:0;
    }
    /* about and donate page */
    .background-img{
        padding-top: 1.5rem;
        padding-bottom: 2rem;
        background-position: 48%; 
        /* orients background img to the middle */
    }
    .background-img> .donate-title{
        font-size: 1.9rem;
        margin-bottom: 1rem;
    }
    /* home page */
    .article-description{
        font-size: .9rem;
    }
    
    /* conact page*/
    .contact-background{
        margin: 0 1rem 0 1rem;
    }
    .contact-title > p{
        font-size: .65rem;
    }
    .col-lg{
        width: 60%;
    }
}
@media( min-width: 500px) and (max-width:900px){ 
    /* if device is smaller than 500 px */

    .col1-col2{
        grid-template-columns: 1fr;
    }
    .col1-col1{
        grid-template-columns: 1fr;
    }
    .col1point2-col1{
        grid-template-columns: 1fr;
    }
    /* ABOUT PAGE SPECIFIC*/
    .about{
        display:flex;
        flex-direction: column-reverse;
    }
    .about-left-col{
        width:48%;
        margin:1.5rem 0 0 0;
        display: flex;

    }
    .about-content {
        margin: 0rem 0rem 0rem 0rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    
    .donate-label{
        text-align: left;
        letter-spacing:0;
    }
    .donate-addrs>li{
        letter-spacing: 1px;
        font-size: .8rem;

    }
    .nav-bar > li {
        list-style: none;
        font-size: .7rem;
    }
    .nav-bar > li > a > span{
        font-size: .7rem;
    }
    .content-background {
        border-radius: 0rem;
        margin-top:0;

    }
    .background-img> .donate-title{
       
        font-size: 2.5rem;
        bottom:2rem;
    }
    .background-img{

        padding-bottom: 8rem;
        /* padding-top: 1rem;
        padding-bottom: 3rem;
        margin-top: .1rem; */
        background-position: 48%; 

    }
    .divider{
        border-bottom:solid 3px white;
        border-radius: 0;
    }
    /* TODO add more pictures to fill the bottom white space of 500 - 800 px!!!!*/
    .no-mobile{
        display: none;
    }
    .article-description{
        font-size: .9rem;
    }
}

